<% content_for(:title, t('.title')) %>

<div class="min-h-screen flex items-center justify-center bg-gray-50 p-4">
  <div class="bg-white p-8 rounded-lg shadow-md w-full md:w-1/2 lg:w-1/3 -mt-16">
    <h1 class="text-2xl font-bold mb-6"><%= t '.title' %></h1>
    <%= turbo_frame_tag 'login_form' do %>
      <%= form_with url: login_path, data: { turbo: "false" } do |f| %>
        <div class="mb-4">
          <%= f.label :email, User.human_attribute_name(:email), class: "block text-sm font-medium text-gray-600" %>
          <%= f.text_field :email, class: 'mt-1 p-2 w-full border border-purple-500 rounded-md' %>
        </div>
        <div class="mb-6">
          <%= f.label :password, User.human_attribute_name(:password), class: "block text-sm font-medium text-gray-600" %>
          <%= f.password_field :password, class: 'mt-1 p-2 w-full border border-purple-500 rounded-md' %>
        </div>
        <div class="flex flex-col items-center justify-between mb-4">
          <%= f.submit t('defaults.login'), class: 'bg-purple-300 hover:bg-purple-400 text-white font-medium py-2 px-4 rounded mb-2' %>
          <div class="text-sm">
            <%= link_to t('.password_forget'), "#", class: 'text-purple-300 hover:underline' %>
          </div>
        </div>
      <% end %>
    <% end %>
    <div class="mt-4 text-center">
      <%= link_to t('.to_register_page'), new_user_path, class: 'text-purple-300 hover:underline' %>
    </div>
  </div>
</div>