<div class="hidden md:flex md:flex-1 justify-start">
  <%= search_form_for @q, url: search_articles_url, method: :get, html: { class: 'flex flex-col sm:flex-row items-center space-y-2 sm:space-y-0 sm:space-x-2'}  do |f| %>
    <div data-controller="autocomplete" data-autocomplete-url-value="<%= autocomplete_articles_path(type: 'area_or_city') %>" class="relative" role="combobox">
      <%= f.search_field :area_name_or_city_name_cont, placeholder: "Area", data: { autocomplete_target: 'input' }, class: 'text-sm px-2 py-1 bg-transparent border-0 border-b-2 border-indigo-200 hover:bg-white hover:bg-opacity-50 focus:border-indigo-300 focus:ring-1 focus:ring-gray-300 focus:outline-none transition duration-300' %>
      <%= f.hidden_field :area_id, data: { autocomplete_target: 'hidden' } %>
      <%= f.hidden_field :city_id, data: { autocomplete_target: 'hidden' } %>
      <ul data-autocomplete-target="results" class="autocomplete-results absolute z-10 w-full bg-white border mt-1 max-h-60 overflow-y-auto rounded-md shadow-lg"></ul>
    </div>  
    <div class="relative flex space-x-3" role="combobox" data-controller="select">
      <%= f.collection_select :category_id_eq, Category.all, :id, :name, { include_blank: 'Category Select' }, { class: 'form-select block w-[180px] border-b-2 border-indigo-200 text-sm px-5 py-1 bg-white/30 backdrop-blur-md hover:bg-white hover:bg-opacity-50 focus:border-indigo-300 focus:ring-1 focus:ring-gray-300 focus:outline-none transition duration-300 text-gray-500', data: { select_target: "category", action: "change->select#updateTags" } } %>
      <%= f.collection_select :tag_id_eq, Tag.all, :id, :name, { include_blank: 'Tag Select' }, { class: 'form-select block w-[180px] border-b-2 border-indigo-200 text-sm px-5 py-1 bg-white/30 backdrop-blur-md hover:bg-white hover:bg-opacity-50 focus:border-indigo-300 focus:ring-1 focus:ring-gray-300 focus:outline-none transition duration-300 text-gray-500', data: { select_target: "tag" } } %>
    </div>
  

    <%= f.button type: 'submit', class: 'w-full sm:w-auto sm:ml-2 px-2 py-1 bg-transparent text-indigo-400 border-0 hover:hover:scale-110 transition-transform focus:outline-none transition duration-300' do %>
      <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" height="1em" viewBox="0 0 512 512" class: 'w-4 h-4 mr-2'>
      <path d="M416 208c0 45.9-14.9 88.3-40 122.7L502.6 457.4c12.5 12.5 12.5 32.8 0 45.3s-32.8 12.5-45.3 0L330.7 376c-34.4 25.2-76.8 40-122.7 40C93.1 416 0 322.9 0 208S93.1 0 208 0S416 93.1 416 208zM208 352a144 144 0 1 0 0-288 144 144 0 1 0 0 288z"/></svg>
    <% end %>
  <% end %>
</div>