<div class="bg-white py-6 sm:py-8 lg:py-12">
  <div class="mx-auto max-w-screen-xl px-4 md:px-8">
    <div class="grid gap-8 md:grid-cols-2 lg:gap-12">

      <!-- 画像表示部分 -->
      <div class="mt-4 sm:mt-12 md:mt-24">
        <div class="overflow-hidden rounded-lg bg-gray-100 shadow-lg mx-auto w-full sm:max-w-xs md:max-w-sm lg:max-w-md xl:max-w-lg">
          <div class="container-mx-auto">
            <% @article.photos.each do |photo| %>
              <div class="slide">
                <%= image_tag photo, class: "max-w-full h-auto object-contain" %>
              </div>
            <% end %>
          </div>
        </div>
        <% if @article.photos.count > 1 %>
          <div class="mt-4 flex justify-between">
            <button id="prevArrow" class="join-item btn btn-outline">prev</button>
            <button id="nextArrow" class="join-item btn btn-outline">next</button>
          </div>
        <% end %>
      </div>

      <!-- 記事の詳細情報表示部分 -->
      <div class="text-gray-600 body-font overflow-hidden">
        <div class="container px-5 mx-auto">
            <div class="w-full lg:w-full lg:pr-10 lg:py-6 mb-6 lg:mb-0">
              <h2 class="text-sm title-font text-gray-500 tracking-widest"><%= @article.city.name %></h2>
              <h1 class="text-gray-900 text-3xl title-font font-medium mb-4"><%= @article.title %></h1>
              <div class="flex mb-4">
                <a class="flex-grow text-indigo-500 border-b-2 border-indigo-500 py-2 text-lg px-1">Good point</a>
              </div>
                <p class="leading-relaxed mb-4"> <%= @article.text %></p>
              <div class="flex border-t border-gray-200 py-2">
                <span class="text-gray-500">Address</span>
                <span class="ml-auto text-gray-900"><%= @article.address %></span>
              </div>
              <div id="map" style="height: 300px; width: 100%;"></div>
              <div class="flex justify-between border-t border-b border-gray-200 py-2">
                <span class="text-gray-500">Category</span>
                  <div class="flex">
                  <span class="<%= 'inline-block rounded-full px-2 py-1 text-sm mr-4 ' + (@article.category.name == 'Food' ? 'bg-orange-200 text-orange-500' : 'bg-pink-200 text-pink-500') %>">
                      <%= @article.category.name %>
                    </span>
                  </div>
              </div>
              <div class="flex justify-between border-b border-gray-200 py-2">
                <span class="text-gray-500">Tags</span>
              <div class="flex">
                  <% @article.tag_names.split(',').each do |tag| %>
                    <span class="inline-block rounded-full bg-indigo-200 text-indigo-500 px-3 py-1 text-sm ml-2">  
                      <%= tag.strip %>
                    </span>
                  <% end %>
              </div>
              </div>
              <div class="flex flex-wrap md:flex-nowrap">
                <div class="h-10 w-10 shrink-0 overflow-hidden rounded-full bg-gray-100">
                  <img src="<%= @article.user.avatar.url %>" loading="lazy" alt="Photo by <%= @article.user.name %>" class="h-full w-full object-cover object-center" />
                </div>
                  <span class="title-font font-medium mt-3 text-gray-900"><%= @article.user.name %> from:<%= @article.user.prefecture.name %></span>
                  <% if logged_in? %>
                  <ul class="menu menu-horizontal flex ml-auto bg-base-200 rounded-box mt-4">
                      <% if @article.user == current_user %>
                      <li>
                        <%= link_to edit_article_path(@article), class: "tooltip", data: {tip: "Edit"} do %>
                          <svg xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 512 512"><!--! Font Awesome Free 6.4.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. --><path d="M362.7 19.3L314.3 67.7 444.3 197.7l48.4-48.4c25-25 25-65.5 0-90.5L453.3 19.3c-25-25-65.5-25-90.5 0zm-71 71L58.6 323.5c-10.4 10.4-18 23.3-22.2 37.4L1 481.2C-1.5 489.7 .8 498.8 7 505s15.3 8.5 23.7 6.1l120.3-35.4c14.1-4.2 27-11.8 37.4-22.2L421.7 220.3 291.7 90.3z"/></svg>
                        <% end %>
                      </li>
                      <li>
                        <%= link_to article_path(@article), data: {turbo_method: 'delete', turbo_confirm: t('defaults.message.delete_confirm') , tip: "Delete"}, class: "tooltip" do %>
                          <svg xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 448 512"><!--! Font Awesome Free 6.4.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. --><path d="M135.2 17.7L128 32H32C14.3 32 0 46.3 0 64S14.3 96 32 96H416c17.7 0 32-14.3 32-32s-14.3-32-32-32H320l-7.2-14.3C307.4 6.8 296.3 0 284.2 0H163.8c-12.1 0-23.2 6.8-28.6 17.7zM416 128H32L53.2 467c1.6 25.3 22.6 45 47.9 45H346.9c25.3 0 46.3-19.7 47.9-45L416 128z"/></svg>
                        <% end %>
                      </li>
                      <% else %>
                      <% favorite = current_user.favorites.find_by(article_id: @article.id) %>
                      <li data-controller="favorite" data-article-id-value="<%= @article.id %>" data-favorite-id-value="<%= favorite&.id %>">
                        <%= link_to '#', class: 'tooltip', data: { action: "click->favorite#toggleFavorite", favorite_target: "tooltip", tip: favorite ? "Cancellation!" : "Favorite!"} do %>
                          <svg class="heart fill-current <%= 'text-red-500' if favorite %>" data-favorite-target="heart" xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 512 512"><!--! Font Awesome Free 6.4.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. --><path d="M462.3 62.6C407.5 15.9 326 24.3 275.7 76.2L256 96.5l-19.7-20.3C186.1 24.3 104.5 15.9 49.7 62.6c-62.8 53.6-66.1 149.8-9.9 207.9l193.5 199.8c12.5 12.9 32.8 12.9 45.3 0l193.5-199.8c56.3-58.1 53-154.3-9.8-207.9z"/></svg>
                        <% end %>
                      </li>
                      <% end %>
                      <li>
                        <%= link_to "https://twitter.com/share?text=めっちゃええとこ見つけた！&url=#{request.url}", title: 'Twitter', target: '_blank' do %>
                          <svg xmlns="http://www.w3.org/2000/svg" height="16" width="14" viewBox="0 0 448 512"><!--!Font Awesome Free 6.5.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2023 Fonticons, Inc.--><path d="M64 32C28.7 32 0 60.7 0 96V416c0 35.3 28.7 64 64 64H384c35.3 0 64-28.7 64-64V96c0-35.3-28.7-64-64-64H64zm297.1 84L257.3 234.6 379.4 396H283.8L209 298.1 123.3 396H75.8l111-126.9L69.7 116h98l67.7 89.5L313.6 116h47.5zM323.3 367.6L153.4 142.9H125.1L296.9 367.6h26.3z"/></svg>
                        <% end %>
                      </li>
                    </ul>
                  <% end %>
              </div>
            </div>
          </div>
      </div>
    </div>
    <div class="flex justify-center items-center">
        <%= link_to 'BACK', :back, class: 'border-2 border-violet-200 bg-white text-zinc-500 hover:bg-violet-200 hover:text-white px-4 py-2 rounded-lg' %>
    </div>
  </div>
</div>

<script type="text/javascript">
document.addEventListener("turbo:load", function() {
  const apiKey = "<%= ENV['GOOGLE_MAP_API_KEY'] %>";
  if (document.getElementById("map")) {
    import("google_maps")
      .then(({ initMap, loadGoogleMapsAPI }) => {
        window.initMap = () => initMap(<%= @article.latitude %>, <%= @article.longitude %>);
        loadGoogleMapsAPI(apiKey);
      });
  }
});
</script>