<!DOCTYPE html>
<html>
  <head>
    <title>GoodSpotKansai</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <%= stylesheet_link_tag "https://fonts.googleapis.com/earlyaccess/hannari.css", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "https://fonts.googleapis.com/css2?family=Nothing+You+Could+Do&display=swap", media: "all" %>

  </head>

  <body>
  <% unless request.path == root_path %>
      <%= render 'shared/header' %>
    <% end %>
    <% flash.each do |type, message| %>
      <div class="<%= flash_class(type) %>">
        <%= message %>
      </div>
    <% end %>
    <div class="pt-10">
    <%= yield %>
    </div>
  <% unless request.path == root_path %>
    <%= render 'shared/footer' %>
  <% end %>
  </body>
</html>
